<footer class="bg-primary dark:bg-gray-900">
  <div class="w-full max-w-screen-xl mx-auto md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <!-- Logo -->
      <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <lord-icon
          src="https://cdn.lordicon.com/ulttckpo.json"
          trigger="loop"
          delay="2000"
          colors="primary:#121331,secondary:#e4e4e4,tertiary:#f4ce14,quaternary:#495e57"
          class="w-16 h-16">
        </lord-icon>
        <span class="self-center text-3xl font-extrabold whitespace-nowrap text-secondary dark:text-white">GeorgesHub</span>
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-white sm:mb-0 dark:text-gray-400 gap-4">
        <li>
          <a href="#" class="rounded-full py-2 px-4 text-primary bg-white text-md border-2 border-white hover:bg-primary hover:text-secondary hover:border-secondary">Contact us</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-white sm:text-center dark:text-gray-400">© 2024 <a href="" class="hover:underline">GeorgesHub™</a>. All Rights Reserved.</span>
  </div>
</footer>