@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
    transition: transform 0.6s ease-in-out;
    display: flex;
    width: 300%;
    transform: translateX(-33.33%);
}

.form-container > div {
    flex: 1;
    width: 33.33%;
    min-width: 33.33%;
}

.form-container.show-signup {
    transform: translateX(-66.66%);
}

.form-container.show-forgot {
    transform: translateX(0);
}